html {

}

.font {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/* Button
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.global-button {
  font-family: var(--font-family-three);
  font-size: 2.4rem;
  line-height: 1.3;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 21px 40px;
  cursor: pointer;
  text-align: center;
  color: var(--color-font-two);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-five);
    transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: color, opacity, background-color;
  text-decoration: none;
}
.global-button:hover {
  color: var(--color-white);
  background-color: var(--ghost-accent-color);
  opacity: 0.8;
}
